.tag1{font-size: 30px;
      font-style: bold;
      color: silver;}
.tag2{font-size:20px;
      color: silver;
      display: inline;
    margin-left: 30px;}
div{text-align: center;

    font-size: 30px;
    background-color: rgba(41,71,102,.46);
    width:1300px;
    height:400px;
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 70px;}
p{font-style: italic;}
.exp{background-color:rgba(228,170,57,.37);
  margin-top:40px;}
.img{display: inline;
  margin-top: 50px;
  margin-left: 20px;}
